<div class="container">
    <div class="row">
        <div class="col"></div>
        <span class="col text-center">
            {{ app_name }} Project - {{ 'now'|date('Y') }}
        </span>
        <span class="col text-right">
            <a href="https://twitter.com/" title="Twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/" title="Facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://my-feed.com/" title="RSS">
                <i class="fa fa-rss" aria-hidden="true"></i>
            </a>
        </span>
    </div>
</div>